
body{
    background-color:rgb(189, 181, 170);
}

header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)) ,url(/boutique\ photo.jpg);
    height: 100vh;
    width: 200vh;
}
.titre{
    display: flex;
}

h1{
    text-transform: capitalize;
    color:FF9F1C ;
    font-family: sans-serif;
    font-size: 42px;
    text-decoration: underline wheat ;
    letter-spacing: 1px;
    margin-left: 15px;
    margin-top: 35px;
}

ul{
    display: flex;
    list-style: none;
    float: right;
   margin-top: 20px;
    padding: 20px;
   margin-left: 420px;
}

ul li a{
    text-transform: capitalize;
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px;
    border: solid 1px black;
    font-size: 13px;
    font-family: sans-serif;
    color:wheat;
    border-radius: 5px;
}

ul li a:hover{
    color: black;
}

.search{
    margin-left: 40%;
    margin-top: 115px;
}

h2{
    margin-top: 50px;
    padding: 50px;
    margin-left: 250px;
    text-transform: uppercase;
    font-size: 40px;
}

.images{
    width: 350px;
    height: 500px;
    animation-duration: 20s;
    animation-name: mesImages;
    animation-iteration-count: infinite;
    margin-top: 10px;
}

@keyframes mesImages {
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-380px);
    }
}

.image{
    width: 350px;
    height: 500px;
    margin-top: 10px;
}

.robe1{
    display: flex;
    width: 350px;
    overflow: hidden;
}

.robe2{
    display: flex;
    width: 350px;
    overflow: hidden;
}

.robe4{
    display: flex;
    width: 350px;
    overflow: hidden;
}

h3{
    margin-top: 80px;
    padding: 50px;
    margin-left: 120px;
    text-transform: uppercase;
    font-size: 40px;
}


.voiles{
    width: 350px;
    height: 450px;
    animation-duration: 20s;
    animation-name: mesVoiles;
    animation-iteration-count: infinite;
}

@keyframes mesVoiles {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-380px);
    }
    50%{
        transform: translateX(-760px);
    }

}

.voile1{
    display: flex;
    width: 350px;
    overflow: hidden;
}

.Voiles{
    width: 350px;
    height: 450px;
    animation-duration: 20s;
    animation-name: mesvoiles;
    animation-iteration-count: infinite;
}

@keyframes mesvoiles {
    0%{
        transform: translateX(0);
    }
    16%{
        transform: translateX(-350px);
    }
    32%{
        transform: translateX(-700px);
    }
    48%{
        transform: translateX(-1050px);
    }
    64%{
        transform: translateX(-1400px);
    }
    80%{
        transform: translateX(-1750px);
    }
    
}

.voile2{
    display: flex;
    width: 350px;
    overflow: hidden;
}

.accessoire{
    width: 350px;
    height: 450px;
    animation-duration: 20s;
    animation-name: accessoires;
    animation-iteration-count: infinite;
}

@keyframes accessoires {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-340px);
    }
    50%{
        transform: translateX(-700px);
    }

}

.voile3{
    display: flex;
    width: 350px;
    overflow: hidden;
}

.produits1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    margin: 10px;
    padding: 10px;
    margin-left: 15px;
    margin-top: 5px;
}

.produits2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    margin: 10px;
    padding: 10px;
    margin-left: 15px;
}

.nom{
    margin-left: 40px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.prix{
    margin-left: 90px;
    font-size: 25px;
}

.logo{
    width: 240px;
    height: 290px;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 10px;
}

.info{
    display: flex;
    margin: 10px;
    margin-top: 10px;
    background-color:wheat;
}

.lien{
    margin-top: 15px;
    margin-left: 150px;
    font-size: 25px;
    color:rgba(41, 28, 1, 0.884)
}

.adresse{
    margin-top: 45px;
    /* margin-left: 20px; */
    font-size: 25px;
    color:rgba(41, 28, 1, 0.884)
}